/* header */

#header {
    position: fixed;
    top: 8px;
    left: 0;
}

#header a {
    position: relative;
    margin: 0 0.5vw;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 0.25vh;
}

#header a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 3px;
    width: 0;
    background-color: #E7F6F2;
    border-radius: 10px;
    animation: header_a_hover_reverse 0.25s forwards;
}

#header a:hover::after, #header a.active::after {
    animation: header_a_hover 0.25s forwards;
}

@keyframes header_a_hover {
    100% {
        width: 100%;
        left: 0;
    }
    
}

@keyframes header_a_hover_reverse {
    from {
        width: 100%;
        left: 0;
    }
    to {
        width: 0;
        left: 50%;
    }
}


/* page 1 */

#p1, #p2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#p1 .avatar {
    height: 512px;
    margin-bottom: 2vh;
}

#p1 .contact_img {
    height: 24px;
    
}

#p1 ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

#p1 a {
    font-size:28px;
    transition: .15s ease;
}

#p1 li {
    margin: 1vh .5vw;
}


/* page 2 */

#p2 > section {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 5px;
    outline: 2px solid rgba(231, 246, 242, 0.25);
    box-shadow: 0 15px 25px rgba(44, 51, 51, 0.6);
}

#p2 > .left {
    width: 30%;
}

#p2 > .right {
    width: 50%;
}

#p2 > section h2 {
    position: absolute;
    top: 5%;
}

#p2 > .left p {
    text-align: left;
    margin: 0 2vw;  
}

#p2 .left h3 {
    margin-top: 5vh;
}

#p2 .left .contact_img {
    height: 24px;
    
}

#p2 .left ul {
    display: flex;
    justify-content: flex-start;
}

#p2 .left a {
    font-size:28px;
    transition: .15s ease;
}

#p2 .left li {
    margin: 1vh .5vw;
}

#p2 > .right {
    flex-direction: row;
    align-items: flex-start;
}

#p2 > .right ul {  
    margin: 0.5vh 0 2vh 0; 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#p2 > .right ul:last-child {  
    flex-direction: column;
    align-items: center;
}

#p2 > .right ul > li {  
    text-align: left;
}

#p2 > .right ul:not(#i_love) li {
    margin: 0 1vw 2vh 1vw;
    width: 20%;
}

#p2 > .right #i_love li {
    margin: 0.5vh 1vw 0 1vw;
    width: 20%;
}

#p2 > .right > div {
    margin-top: 10%;
}

#p2 > .right .progress_container {
    width: 100%;
    height: 18px;
    border: 1px solid rgba(44, 51, 51, 0.65);
    border-radius: 10px;
}

#p2 > .right .progress {
    text-align: left;
    vertical-align: top;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(156,150,123,1) 0%, rgba(232,223,183,1) 100%);
    opacity: 0.5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#p2 > .right .progress > p {
    user-select: none;
    color: rgb(44, 51, 51);
    font-size: 16px;
    margin-bottom: 6px;
    margin-left: 6px;
}

#p2 > .right .skill_level {
    font-size: 16px;
}


/* page 3 */

#p3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p3 > .bt {
    user-select: none;
    margin: 0 2vw;
    transition: 0.5s ease;
}

#p3 > .bt:hover {
    cursor: pointer;
    color: rgba(231, 246, 242, 0.5);
}


#p3 .carousel {
    position: relative;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 5px;
    outline: 2px solid rgba(231, 246, 242, 0.25);
    box-shadow: 0 15px 25px rgba(44, 51, 51, 0.6);
}

#p3 .carousel > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#p3 .carousel > div > .desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 99;
    position: absolute;
    left: 5%;
    top: 15%;
    width: 30%;
    text-align: left;
    padding: 1vh 1vw 1vh 1vw;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 5px;
    outline: 2px solid rgba(231, 246, 242, 0.25);
    box-shadow: 0 15px 25px rgba(44, 51, 51, 0.6);
}

#p3 .carousel > div > .desc a {
    color: #0969da;
}

#p3 .carousel > div > .desc ul {
    display: flex;
}

#p3 .carousel > div > .desc li {
    margin-right: 1vw;
}

#p3 .carousel > div > .desc .contact_img {
    width: 32px;
}

#p3 .carousel > div > img {
    position: absolute;
    right: 5%;
    bottom: 15%;
    width: 55%;
}

#p3 .carousel #coink_img {
    width: 35%;
}



/* page 5 */

#p5 {
    display: flex;
    justify-content: center;
    align-items: center;
}


#p5 .left, #p5 .right {
    margin: 0 5vw;
    height: fit-content;
    width: 25%;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 5px;
    outline: 2px solid rgba(231, 246, 242, 0.25);
    box-shadow: 0 15px 25px rgba(44, 51, 51, 0.6);
}

#p5 .left ul {
    height: 100%;
    width: 100%;
}

#p5 .left li {
    height: 64px;
    width: 100%;
    margin: 1vh 0;
    background-color: rgba(255, 255, 255, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
}

#p5 .left li:hover {
    cursor: pointer;
    background-color: rgba(231, 246, 242, 0.25);
}

#p5 li > a {
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#p5 i {
    margin: 0 1vw 0 2vw;
}

#p5 .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#p5 .right h3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p5 .right > * {
    margin: 1vh 0;
}

#p5 .right input, #p5 .right textarea  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
    width: 98%;
    margin-left: 1%;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 4px solid #E7F6F2;
    resize: vertical;
}

#p5 .right button {
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-size: 24px;
    width: 100%;
    height: 48px;
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
}

#p5 .right button:hover {
    cursor: pointer;
    background-color: rgba(231, 246, 242, 0.25);
}

/* reCaptcha */

#g-recaptcha-response {
    display: inline block !important;
}